CRM-server/node_modules
CRM-server/.env

Authentication/node_modules

Employee-server/node_modules
Employee-server/.env

Inventory-Management-server/node_modules
Inventory-Management-server/.env

PRJ-Management-server/node_modules
PRJ-Management-server/.env

Product-server/node_modules
Product-server/.env

Sales-server/node_modules
Sales-server/.env

RFQ-server/node_modules
RFQ-server/.env

PurchaseModule-server/node_modules
PurchaseModule-server/.env
    